$success: green;
$info: yellow;
$warning: red;

$success-hover: lightgreen;
$info-hover: lightyellow;
$warning-hover: pink;

$small: 100px;
$medium: 120px;
$large: 140px;

$rounded: 5px;
$outline: 2px solid #6585ab;


body {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
}

h1 {
    color: #6585ab;
    margin: 20px;
    padding: 0;
}

.button {
    text-align: center;
    font-size: large;
    color: white;
    width: 100px;
    cursor: pointer;
    background-color: #ccc;
    border: none;
    padding: 14px 40px;
    margin-right: 5px;
    margin-bottom: 20px;
    &:hover {
        background-color: #ddd;
    }
    &:active {
        background-color: #fff;
    }

    &.f1 {
        background-color: $success;
        &:hover {
            background-color: $success-hover;
        }
        &:active {
            background-color: #fff;
        }
    }
    &.f2 {
        background-color: $info;
        &:hover {
            background-color: $info-hover;
            
        }
        &:active {
            background-color: #fff;
        }
    }

    &.f3 {
        background-color: $warning;
        &:hover {
            background-color: $warning-hover;
        }
        &:active {
            background-color: #fff;
        }
    }

    &.siz1 {
        width: $small;
        &:hover {
            background-color: lightgreen;
        }
        &:active {
            background-color: #fff;
        }
    }
    &.siz2 {
        width: $medium;
        &:hover {
            background-color: lightyellow;
        }
        &:active {
            background-color: #fff;
        }
    }
    &.siz3 {
        width: $large;
        &:hover {
            background-color: pink;
        }
        &:active {
            background-color: #fff;
        }
    }

    &.siz1 {
        width: $small;
        &:hover {
            background-color: lightgreen;
        }
        &:active {
            background-color: #fff;
        }
    }

    &.siz2 {
        width: $medium;
        &:hover {
            background-color: lightyellow;
        }
        &:active {
            background-color: #fff;
        }
    }

    &.sty1 {
        border-radius: $rounded;
        &:hover {
            background-color: lightgreen;
        }
        &:active {
            background-color: #fff;
        }
    }

    &.sty2 {
        border: $outline;
        background-color: white;
        color: black;
        &:hover {
            background-color: lightyellow;
        }
        &:active {
            background-color: #fff;
        }
    }
}
