aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    min-height: 100%;
    padding: $content-padding;
    border-radius: 10px 0 0 10px;
    background: rgba(242,149,158,1);
    background: linear-gradient(to bottom, rgba(242,149,158,1) 0%, rgba(231,56,39,1) 100%);
    color: white;

    a {
        color: white;
    }

    header {
        display: flex;
        margin-bottom: 50px;
    }

}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}

.user-name {
    font-size: $font-normal;
    white-space: nowrap;

}