$user-img-width: 70px;
$user-img-height: 70px;

$main-font: 'Nunito Sans', sans-serif;

$content-padding: 70px 30px;

$card-width: calc(100% / 3 - 20px);

$font-small: 12px;
$font-normal: 20px;
$font-large: 35px;